body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
    font-family: Arial, sans-serif;
}

.contenedor-principal {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 40px;
    font-size: 32px;
}

.botones {
    display: flex;
    gap: 20px;
    justify-content: cent
};

/* NAVBAR */
.navbar {
  width: 100%;
  height: 70px;
  background: #1b1b1b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar-busqueda input {
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.navbar-botones {
  display: flex;
  gap: 10px;
}

.btn-nav {
  padding: 10px 16px;
  background: #ffca28;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.btn-nav:hover {
  background: #ffd95a;
}
