*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    font-size: 23px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 11px;
}
.redirect{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Russo One', sans-serif;
}

.logo{
    height: 100px;
    width: 10;
    cursor: pointer;
}

.iconos{
    display: flex;
    align-items: center;
    gap: 25px;
}

.buscar{
    height: 25px;
    width: 10;
}

.carrito{
    height: 25px;
    width: 10;
}

.personal{
    height: 25px;
    width: 10;
}

.menu{
    height: 25px;
    width: 10;
}

.imagenes_logo{
    width: 100%;
    height: 400px;
}

.destacadas{
    margin-top: 65px;
    text-align: center;
}

.bicis_destacadas{
    display: flex;
    padding: 30px;
    margin: 20px;
}

.bici_destacada{
    display: grid;
    place-items: center; /*
    .Centra horizontal y vertical con GRID*/
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.bici{
    justify-content: center;
    height: 300px;
    width: 300px;
}

.precio{
    font-size: arial;
}